.header {
  background-color: #222;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
}

.title {
  color:#fff;
  text-decoration:none;
  position: relative;
  z-index: 3;
}

.item {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.cart-count{
  background-color: white;
  color: #222;
}