.product{
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    border: 10px;
    border-color: black;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px 10px rgba(0, 0, 0, 0.2);
    align-self: center;
    margin: 15px;
    
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button{
    font-size: 120%;
    color: white;
    font-weight: bold;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    border-color: transparent;
}
.add{
    background-color: rgb(9, 118, 168);
}
.remove{
    background-color: red;
}